---

---

<header class = "py-3 px-10 flex fixed top-0 w-full justify-between z-40">
   <div>Maria Celeste Coronel</div>
    <nav>
        <ul class="flex gap-4 ">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li>
                <a href="/experience">Experience</a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul class="flex gap-4">
       <li>
           <a href="https://linkedin.com/in/mcelestecrnl" target='_blank'>Linkedin</a>
       </li>
       <li>
           <a href="https://github.com/MCCoronel" target='_blank'>Github</a>
       </li>
       <li>
           <a href="mailto:mcelestecrnl@gmil.com" target='_blank'>Email</a>
       </li>
       </ul>
    </nav>
</header>