---

---

<div class="flex flex-col items-center justify-center">
    <h1>Projects</h1>
    <div>
        <h2>BookBuster</h2>
        <img src="../../assets/bbt.png" alt="BookBuster" class="max-w-sm">
    </div>
</div>